#test {
    font-family: Helvetica, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
}

body {
    background-color: #36393F;
    color: white;
    font-family: Helvetica, Helvetica, sans-serif;
    text-align: center;
  }

iframe {
    margin: 0 auto;
    display: block;
}

.homepage {
  color: white;
}

#button {
background-color: #F76902;
border: 2px solid #000000;
border-radius: 6px;

color: white;
padding: 8px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
float: none;
}

a {
  color:black;
}
