#bodytext {
    background-color: #36393F;
    color: white;
    font-family: Helvetica, Helvetica, sans-serif;
    text-align: center;
  }

iframe {
    margin: 0 auto;
    display: block;
}
